<ul>
    <li class="{% if page.home %}current{% endif %}">
        <a href="{{ site.url }}/">Home</a>
    </li>
    <li class="{% if page.url contains '/info/' ' %}current{% endif %}">
        <a href="{{ site.url }}/info/">Info</a>
    </li>
    <li class="{% if page.url contains '/setup/' ' %}current{% endif %}">
        <a href="{{ site.url }}/setup/">Setup</a>
    </li>
    <li class="{% if page.url contains '/classdiagram/' ' %}current{% endif %} hide-on-mobiles">
        <a href="{{ site.url }}/classdiagram/">Diagram</a>
    </li>
    <li class="{% if page.url contains '/docs/' ' %}current{% endif %} hide-on-mobiles">
        <a href="{{ site.url }}/docs/" target="_blank">Docs</a>
    </li>
    <li class="{% if page.url contains '/downloads/' ' %}current{% endif %} hide-on-mobiles">
        <a href="{{ site.url }}/downloads/">Downloads</a>
    </li>
</ul>